:root {
}

.title {
    font-size: 100px;
    color: rgb(220, 224, 233);
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/RacingSansOne-Regular.ttf?fileID=12800000&guid=4aeaecc8733cc4ea2916feb0441c8cac&type=3#RacingSansOne-Regular");
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    margin-top: 181px;
    text-shadow: 40px 40px 0 rgb(16, 19, 25);
}

.startButton {
    font-size: 55px;
    -unity-font-style: normal;
    width: 25%;
    align-self: center;
    align-content: auto;
    margin-top: 25%;
    color: rgb(220, 224, 233);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-right-color: rgb(132, 141, 158);
    border-bottom-color: rgb(132, 141, 158);
    border-left-color: rgb(132, 141, 158);
    border-top-color: rgb(132, 141, 158);
    border-left-width: 5px;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    background-color: rgb(16, 19, 25);
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/RacingSansOne-Regular.ttf?fileID=12800000&guid=4aeaecc8733cc4ea2916feb0441c8cac&type=3#RacingSansOne-Regular");
    letter-spacing: 15px;
    text-shadow: 5px 5px 0 rgb(132, 141, 158);
}

.startButton:hover {
    background-color: rgb(132, 141, 158);
    border-left-color: rgb(16, 19, 25);
    border-top-color: rgb(16, 19, 25);
    border-bottom-color: rgb(16, 19, 25);
    border-right-color: rgb(16, 19, 25);
    text-shadow: 5px 5px 0 rgb(16, 19, 25);
}
